/* 컬러 변수 */
:root {
  --point-color1: #ed1c24;
  --point-color2: #f2f2f2;
  --point-color3: #f6f6f6;
  --txt-color-400: #fff;
  --txt-color-500: #1f1f1f;
  --txt-color-600: #000;
}
#wrap {
  height: 1200px;
}
#header {
  width: 100%;
  top: 0;
  left:0;
  height: 147px;
  z-index: 9999;
}
#header.fixed{
  position: fixed;
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
}
#header .inner{
  border: 1px solid yellowgreen;
}
#header .header_top_wrap{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 30px;
}
#header .header_top_wrap li>{
  font-size: 14px;
  color: #1b1b1b;
}
#header .header_top_wrap li+li{
 padding-left: 20px;
}
#header .header_top_wrap li>a{
  text-align: center;
  margin-top: 5px;
}
.header_top_wrap li>a>img{
  margin-left: 5px;
}
