/* 컬러 변수 */
:root {
  --point-color1: #dae8f5;
  --point-color2: #f2f2f2;
  --point-color3: #f6f6f6;
  --txt-color-400: #fff;
  --txt-color-500: #222;
  --txt-color-600: #000;
}

#wrap {
  height: 1200px;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(25, 28, 50, 0);
  z-index: 9999;
}
#header .inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

#header .inner .logo {
  max-width: 300px;
  height: auto;
  margin: 17px 10px 0 10px;
}
#header .inner .logo a {
  display: inline;
}
#header .gnb_wrap {
  display: inline-block;
  position: relative;
  height: 100%;
}

#header .gnb {
  position: absolute;
  display: flex;
  margin-left: 50px;
}
#header .gnb > li {
  margin: 0 50px 0 0;
  font-size: 18px;
}
#header .gnb > li a {
  color: #fff;
}
#header .gnb .depth2 {
  display: none;
}
#header .etc_wrap {
  margin-left: auto;
}

#header .etc_wrap .lang_btn {
  width: 24px;
  height: 23px;
  margin: 24px 10px 0 0;
  border: none;
  background: url(../images/btn_eng.png) no-repeat;
}

#header .etc_wrap .sitemap_btn {
  width: 24px;
  height: 23px;
  margin: 24px 10px 0 0;
  border: none;
  background: url(../images/btn_menu.png) no-repeat;
}

#container .main_slider {
  height: 760px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#container .main_slider .s_img {
  width: 3125px;
  height: 150px;
  object-fit: cover;
}
