/* 컬러 변수 */
:root {
  --point-color1: #ed1c24;
  --point-color2: #f2f2f2;
  --point-color3: #f6f6f6;
  --txt-color-400: #fff;
  --txt-color-500: #1f1f1f;
  --txt-color-600: #000;
}
#wrap {
  height: 1200px;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  transition: height 0.8s;
  /* background-color: #fff; */
  height: 147px;
}

#header .header_top {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 80px;
}
.header_top ul {
  justify-content: flex-end;
}
.header_top ul li + li {
  padding-left: 20px;
  position: relative;
}
.header_top ul li span {
  color: #1b1b1b;
}
.header_top ul li a {
  text-decoration: none;
  color: var(--txt-color-500);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
.header_top ul li img {
  margin-left: 5px;
  max-width: 100%;
  vertical-align: top;
}
.header_top ul li + li::before {
  content: "";
  display: block;
  width: 1px;
  height: 8px;
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#header .header_container  {
  padding: 40px 80px;
  width: 100%;
  /* height: 120px; */

  justify-content: space-between;
  align-items: flex-start;
  /* background: #fff; */
  position: relative;
}
#header .header_container  .logo a {
  display: inline;
  margin: 0 35px 0 0;
}
#header .header_sec02 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: block;
}
.gnb01 .depth01 {
  justify-content: flex-end;
}
.gnb01 .depth01 li {
  position: relative;
  padding: 45px 80px 0 0;
}
.gnb01 .depth01 li>a {
  display: block;
  font-size: 20px;
  position: relative;
  padding: 0 0 40px;
  white-space: nowrap;
  /* font-weight: bold; */
}
.gnb01 .depth01 li:hover >a{
  color: #e0462e;
}
.gnb01 .depth01>li:hover > a::before {
  display: block;
}
.gnb01 .depth01>li:hover > a::after {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  border-radius:50% ;
  background-color:#e0462e;
  position: absolute;
  top: 4px;
  right: -11px
}
.gnb01 .depth01>li > a::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e0462e;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.gnb01 .depth02 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  padding-top: 20px;
}
.gnb01 .depth02 li>a {
  padding: 7px 0;
  display: block;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: -0.02em;
}
.gnb01 .depth02 li:hover a {
  color: #e0462e;
  white-space: nowrap;
}

.lang {
  margin-right: 33px;
  position: relative;
}
.lang p > span,
.ul li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.5px;
}
.lang p span.triangle {
  margin: 0px 0 0 10px;
  font-size: 0;
  line-height: 1;
}
.lang ul{
  position: absolute;
  top: 100%;
  left: 0;
  width: 130%;
  text-align: center;
  display: none;
  background-color: #fff;
  border-radius: 20px;
  padding:10px 0;
}
.lang ul li a {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: -0.5px;
}
#header .hamberger {
  width: 26px;
  height: 18px;
  position: relative;
}
.hamberger a {
  display: block;
  width: 100%;
  height: 100%;
}
.hamberger a span + span {
  margin-top: 8px;
}

.hamberger a span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s;
}

/* 컨테이너  */
#container {
  display: block;
}
.section {
  padding-bottom: 140px;
}

.section01 {
  padding: 180px 0;
  text-align: center;
  background: url(../images/pc_section01_5.png) no-repeat center / cover;
}

.section01 .logo_box {
  position: relative;
  display: block;
}

.section01 .logo_box .main_banner {
  display: block;
  margin: 0 auto;
}
.section01 .logo_box .mo {
  display: none;
}
.section01 img {
  max-width: 100%;
  vertical-align: top;
}

/* 서치박스 */
.search_box {
  max-width: 1020px;
  height: 80px;
  border-radius: 40px;
  background-color: #fff;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  margin: 40px auto 0;
  justify-content: space-between;
}
.search_box .search {
  width: 100%;
  padding: 0 15px 0 55px;
  justify-content: space-between;
  height: 100%;
}
.search_box .search button {
  max-width: 180px;
  width: 22%;
  height: 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}
.keyword_box {
  margin-top: 25px;
}
.keyword_box li {
  font-size: 12px;
  min-width: 120px;
  height: 37px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
  border-radius: 18.5px;
  border: 1px solid #edecef;
  padding: 0 20px;
}
